<meta name="viewport" content="width=device-width, user-scalable=no">
<div class="dashboard">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
        crossorigin="anonymous">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html">
                        <img src="\assets\imagens\logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li>
                            <a routerLink="/home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Home</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/search-client">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm"> Iniciar Venda </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/clients">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Clientes </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/products">
                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Produtos </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/employees">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Funcionários </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/statistic">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Estatísticas</span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink="/settings">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm"> Configurações</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Busca" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Ivan </span>
                                                    <p class="text-muted small">
                                                        ivanalves94@gmail.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>
                <!--corpo da pagina-->
                <div>
                    <div>
                        <div>
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        <h3 class="panel-title">{{nameUser}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-3 col-lg-3 " align="center">
                                                <img alt="User Pic" src="\assets\imagens\gerente.png" class="img-circle img-responsive"> </div>

                                            <div class=" col-md-9 col-lg-9 ">
                                                <table class="table table-user-information">
                                                    <tr>
                                                        <td>
                                                            <strong>Cargo: </strong>
                                                        </td>
                                                        <td>Gerente </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Nome: </strong>
                                                        </td>
                                                        <td> {{nameUser}} </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>CPF:</strong>
                                                        </td>
                                                        <td>{{cpf}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>RG:</strong>
                                                        </td>
                                                        <td>{{rg}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Data de Ingresso:</strong>
                                                        </td>
                                                        <td>{{admission}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Data de Nasc.: </strong>
                                                        </td>
                                                        <td>{{birth}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong>Endereço: </strong>
                                                        </td>
                                                        <td>{{address}}</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong> Email </strong>
                                                        </td>
                                                        <td>
                                                            <a href="mailto:info@support.com">{{email}}</a>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <strong> Telefone(s): </strong>
                                                        </td>
                                                        <td>{{telephone}}(Residencial)
                                                            <br> 555-4567-890(Celular)
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer">
                                        <!--<a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning">
                                            <i class="glyphicon glyphicon-edit"></i>
                                        </a>-->

                                        <button type="button" class="btn btn-warning "> Editar </button>

                                        <button type="button" class="btn btn-danger" (click)="logout()"> Sair da conta </button>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>