<h1 class="text-center action">Area Administrativa</h1>

<div class="row action">
    <div class="col-sm-8 col-md-4 text-center">
        <div class="img-circle">
            <img src="assets/imagens/clients.png" class="image image-clients">
            <div class="caption">
                <button type="button" class="btn btn-success btn-lg" [routerLink]="['/clients']">Clientes
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 text-center">
        <div class="img-circle">
            <img src="assets/imagens/products.png" class="image image-products">
            <div class="caption">
                <button type="button" class="btn btn-warning btn-lg" [routerLink]="['/products']">Produtos
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-sm-8 col-md-4 text-center">
      <div class="img-circle">
        <img src="../../../assets/imagens/funcionario.png" class="image image-products">
        <div class="caption">
          <button type="button" class="btn btn-info btn-lg" [routerLink]="['/employees']">Funcionário
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          </button>
        </div>
      </div>
    </div>
</div>
