<th>{{cartItem.product.id}}</th>
<td>{{cartItem.product.name}}</td>
<td>{{cartItem.product.description}}</td>
<td>R$ {{cartItem.product.price}}</td>
<td>{{cartItem.quantity}}</td>
<td>R$ {{cartItem.total}}</td>
