<th>{{cartItem.product.id}}</th>
<td>{{cartItem.product.name}}</td>
<td>{{cartItem.product.description}}</td>
<td>
  R$ {{cartItem.product.price}}
</td>
<td>
  <a><span class="glyphicon glyphicon-plus" (click)="addProduct()"></span></a>
  {{cartItem.quantity}}
  <a><span class="glyphicon glyphicon-minus" (click)="removeProduct()"></span></a>
</td>
<td>
  R$ {{cartItem.total}}
</td>
<td>
  <p>
    <button class="btn btn-danger" (click)="removeCartItem()">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
  </p>
</td>
