<nav class="navbar navbar-default color">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
         </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Usuario<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a>Minha Conta</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a>Sair</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

