<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta name="viewport" content="width=device-width, user-scalable=no">


<div class="dashboard">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1"
        crossorigin="anonymous">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html">
                        <img src="assets\imagens\logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li>
                            <a routerLink="/home">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Home</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/search-client">
                                <i class="fa fa-tasks" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm"> Iniciar Venda </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/clients">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Clientes </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/products">
                                <i class="fa fa-list-ol" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Produtos </span>
                            </a>
                        </li>
                        <li class="active">
                            <a routerLink="/employees">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Funcionários </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/statistic">
                                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm">Estatísticas</span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/settings">
                                <i class="fa fa-cog" aria-hidden="true"></i>
                                <span class="hidden-xs hidden-sm"> Configurações</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Busca" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User
                                            <b class="caret"></b>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Ivan </span>
                                                    <p class="text-muted small">
                                                        ivanalves94@gmail.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>

                <div class="user-dashboard">




                    <form [formGroup]="clientForm" (submit)="onSubmit()">


                        <div class="container">
                            <div class="col-lg-6 col-md-6 col-sm-8  loginbox">
                                <div class=" row">
                                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                                        <span class="singtext" color="blue"> Novo Cliente </span>
                                    </div>

                                </div>


                                <div class=" row loginbox_content ">

                                    <label for="name" class=" control-label"> Nome: </label>
                                    <br>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <span></span>
                                        </span>
                                        <input type="text" class="form-control" id="name" placeholder="Digite nome " required ngModel name="name" formControlName="name">
                                    </div>
                                    <br>
                                    <label for="telephone" class="control-label">Telefone:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"> </span>
                                        <input type="text" class="form-control" id="telephone" placeholder="Digite o telefone" formControlName="telephone">
                                    </div>
                                    <br>
                                    <label for="cpf" class="control-label">CPF/CNPJ:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"> </span>
                                        <input type="text" class="form-control" id="cpf" value="{{frase}}" placeholder="Digite o CPF/CNPJ" formControlName="cpf">
                                    </div>

                                    <br>
                                    <label for="address" class="control-label">Endereço:</label>
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon"> </span>
                                        <input type="text" class="form-control" id="address" placeholder="Digite o endereço " formControlName="address">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-danger" [disabled]="clientForm.invalid" *ngIf="path">
                                            Cadastrar e Iniciar Venda
                                        </button>
                                        <button type="submit" class="btn btn-danger" [disabled]="clientForm.invalid" *ngIf="!path">
                                            Cadastrar
                                        </button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-4 "></div>

                        </div>


                    </form>

                </div>
            </div>
        </div>

    </div>