







<td>{{employee.name}}</td>
<td>{{employee.email}}</td>
<td>{{employee.cpf}}</td>
<td>
  <button type="button" class="btn btn-success" [routerLink]="['/edit-employee', employee.id]">
    <span class="glyphicon glyphicon-pencil"></span>
  </button>
  <button type="button" class="btn btn-danger" (click)="removeEmployee()">
    <span class="glyphicon glyphicon-trash"></span>
  </button>
</td>
