<div class="panel panel-info">
  <div class="panel-heading text-center">Informações</div>
  <div class="panel-primary">
    <div class="panel-heading text-center col-md-4">Funcionário</div>
    <div class="panel-heading text-center col-md-4">Cliente</div>
    <div class="panel-heading text-center col-md-pull-4">Data</div>
  </div>
  <div class="panel-collapse">
    <div class="panel-heading text-center col-md-4">{{ employee.name }}</div>
    <div class="panel-heading text-center col-md-4">{{ client }}</div>
    <div class="panel-heading text-center col-md-pull-4">{{ data| date:'dd/MM/yyyy HH:mm:ss'}}</div>
  </div>
</div>
