<popup #popup1>
  Add your custom html elements here
  <br>
</popup>

<popup #popup2>
  Add your custom html elements here
  <br>
</popup>

<popup #popup3>
  <p>You can change your animations by setting this.popup.option</p>

  <div>
    'fadeInLeft'
    'fadeInRight',
    'fadeInUp',
    'bounceIn',
    'bounceInDown'
  </div>
  <br>
</popup>

<popup #popup4 (confirmClick)="YourConfirmEvent()">
  You can subscribe to the confirm and cancel button event, or you can hide the buttons and add your own.
  <br>
  <br>
  <p>(confirmClick)="YourConfirmEvent()" </p>
  <p>(cancelClick)="YourCancelEvent()" </p>

  <br>
</popup>

<popup #popup5 (confirmClick)="login()">

  <form class="form-horizontal">
    <div class="form-group">
      <label for="inputEmai3" class="col-sm-3 control-label">Email</label>
      <div class="col-sm-7">
        <input type="text" class="form-control" name="email" [(ngModel)]="email" id="email" placeholder="email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmai3" class="col-sm-3 control-label">Password</label>
      <div class="col-sm-7">
        <input type="password" class="form-control" name="password" [(ngModel)]="password" id="password" placeholder="password">
      </div>
    </div>
    <div class="form-group">
      <div class="form-group text-right">
        <div class="col-sm-offset-3 col-sm-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="RequireLogin" name="RequireLogin"> Remember Me
            </label>
          </div>
        </div>
      </div>
    </div>

  </form>

</popup>
<br><br>
<div class="text-center">
  <p style="font-size: 28px;font-weight: bold;color:#4180ab;">ng2-opd-popup</p>
  <p style="margin-top: -12px;color:#333">Popup component for Angular 2 with support for aot</p>
  <br>
  <div class="row">
    <span style="color: #888;font-size: 12px;">Test the Popups here...</span><br>
    <button class="btn btn-mbe-normal sp" (click)="showPopup1()">Simple popup</button>
    <button class="btn btn-mbe-normal sp" (click)="showPopup2()">Size & Color</button>
    <button class="btn btn-mbe-normal sp" (click)="showPopup3()">Animations</button>
    <button class="btn btn-mbe-normal sp" (click)="showPopup4()">Events</button>
    <button class="btn btn-mbe-normal sp" (click)="showPopup5()">Forms sample</button>
  </div>
  <br><br><br>

  <p>You can get the component and instructions <a href="https://www.npmjs.com/package/ng2-opd-popup" target="_blank" style="color: #4180ab;font-weight: bold;">HERE</a> </p>

  <br>
  <br>
  <div class="wrapper">
    <ul class="social-icons icon-flat list-unstyled list-inline">
      <li> <a href="https://www.facebook.com/opdahlmann" target="_blank"><i class="fa fa-facebook"></i></a></li>
      <li> <a href="https://github.com/opdahlmann" target="_blank"><i class="fa fa-github"></i></a></li>
      <li> <a href="https://twitter.com/opdahlmann" target="_blank"><i class="fa fa-twitter"></i></a></li>
      <li> <a href="https://www.youtube.com/channel/UC_50wEWI-0xFLfAcbuA7Dzw" target="_blank"><i class="fa fa-youtube"></i></a></li>
    </ul>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-90231581-1', 'auto');
  ga('send', 'pageview');
</script>
