    <div>

        <form #f="ngForm" (submit)="form_login(f)" >
            <div class="container">  
            <div class="col-lg-6 col-md-6 col-sm-8  loginbox">
                <div class=" row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <img src="assets/imagens/logo.png" alt="Logo" class="logo"> 
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                        <span class="singtext" color="blue" > Login </span>   
                    </div>
                                 
                </div>
                <div class=" row loginbox_content ">                        
                    <div class="input-group input-group-sm" >
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="login"  required ngModel name="email" placeholder="Digite o email">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" required ngModel name="password" id="password" placeholder="Digite sua senha" >
     
                    </div>              
                </div>
                <div class="row ">                   
                    <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword "> 
                        <a [routerLink]="['/register']"  > Cadastro </a>                        
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">          
                            <button type="submit" class="btn submit-btn" >
                                    Entrar
                            </button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-4 "></div>

         </div>        
    </form>


</div>
 
