

.background-login{

    position: absolute;
    display: block;
    width: 100vw;
    height: 100;
    padding: 0;
    background: -webkit-gradient(linear, left top, right top, from(#007AB9), to(#033D64)) no-repeat;
 
    background: -webkit-linear-gradient(#007AB9, #033D64);
    background: -moz-linear-gradient(#007AB9, #033D64);
    background: -o-linear-gradient(#007AB9, #033D64);
    background: -ms-linear-gradient(#007AB9, #033D64);
    background: linear-gradient(#007AB9, #033D64);
}


.login2background{    
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loginbox{  
    background: white;
    color: black;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    padding: 20px;   
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;

}
.logo{
    width: 130px; 
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{ 
        margin-top: 5%;
    }    
}

.loginbox_content{
    padding:5% 11% 5% 11%;

}

.singtext{
    font-family: "Open Sans",sans-serif;
    font-size: 27px;  
    color:  #42a5f5;
    float: right;
    padding-right: 25%;
}

.submit-btn{
    float: right;
    background-color: #42a5f5;
    margin-right: 28%;
    color: white;
}

.forgotpassword{
    padding-left: 10%;
}
@media (max-width:800px) {
    .submit-btn{
        
        margin-right: 23%;
    }

   
}


.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    display: block;
    background-color: #42a5f5;
    width: 100%;
    height: 800px;
  
  }
  
  