<td>{{product.id}}</td>
<td>{{product.name}}</td>
<td>{{product.description}}</td>
<td>R$ {{product.price}}</td>
<td>
    <button type="button" class="btn btn-success" [routerLink]="['/edit-product', product.id]">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" class="btn btn-danger" (click)="removeProduct()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>