
<div  class="dashboard">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 hidden-xs display-table-cell v-align box" id="navigation">
                <div class="logo">
                    <a hef="home.html"> 
                       <img src="assets\imagens\logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                        <img src="http://jskrishna.com/work/merkury/images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                    </a>
                </div>
                <div class="navi">
                    <ul>
                        <li><a routerLink="/home"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Home</span></a></li>
                        <li><a routerLink="/search-client"> <i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm"> Iniciar Venda </span></a></li>
                        <li class="active"><a routerLink="/clients"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Clientes </span></a></li>
                        <li><a routerLink="/products"><i class="fa fa-list-ol" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Produtos </span></a></li>
                        <li><a routerLink="/employees"><i class="fa fa-users" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Funcionários </span></a></li>
                        <li><a routerLink="/statistic"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Estatísticas</span></a></li>
                        <li><a routerLink="/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm" > Configurações</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align">
                <div class="row">
                    <header>
                        <div class="col-md-7">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                            </nav>
                            <div class="search hidden-xs hidden-sm">
                                <input type="text" placeholder="Busca" id="search">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                                    <li>
                                        <a href="#" class="icon-info">
                                            <i class="fa fa-bell" aria-hidden="true"></i>
                                            <span class="label label-primary">3</span>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">User
                                            <b class="caret"></b></a>
                                        <ul class="dropdown-menu">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>Ivan </span>
                                                    <p class="text-muted small">
                                                        ivanalves94@gmail.com
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a href="#" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </header>
                </div>

                <div class="user-dashboard">
                       















<h1 class="text-center action">Editar Cliente</h1>

<form class="form-horizontal" [formGroup]="clientForm" (submit)="onSubmit()">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">Nome:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="name" placeholder="Digite o Nome" formControlName="name">
        </div>
    </div>

    <div class="form-group">
        <label for="telephone" class="col-sm-3 control-label">Telefone:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="telephone" placeholder="Digite o Telefone"
                   formControlName="telephone">
        </div>
    </div>

    <div class="form-group">
        <label for="cpf" class="col-sm-3 control-label">CPF/CNPJ:</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="cpf" placeholder="Digite o CPF/CNPJ" formControlName="cpf">
        </div>
    </div>


    <div class="form-group">
            <label for="address" class="col-sm-3 control-label">Endereço:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="address" placeholder="Digite o Endereço"
                       formControlName=address>
            </div>
        </div>

    <div class="form-group">
        <div class="text-center">
            <button type="submit" class="btn btn-danger" [disabled]="clientForm.invalid">
                Atualizar
            </button>
        </div>
    </div>
</form>







                </div>
            </div>
    </div>



    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                
                <div class="modal-body">
                       
                            <input type="text" placeholder="Project Title" name="name">
                            <input type="text" placeholder="Post of Post" name="mail">
                            <input type="text" placeholder="Author" name="passsword">
                            <textarea placeholder="Desicrption"></textarea>
                    </div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
    </div>
</div>





























































