<td>{{client.name}}</td>
<td>{{client.telephone}}</td>
<td>{{client.cpf}}</td>
<td>{{client.address}}</td>

<td>
    <button type="button" class="btn btn-success" [routerLink]="['/edit-client', client.id]">
        <span class="glyphicon glyphicon-pencil"></span>
    </button>
    <button type="button" class="btn btn-danger" (click)="removeClient()">
        <span class="glyphicon glyphicon-trash"></span>
    </button>
</td>