

.divtext{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;  
    color:  #42a5f5;
    text-align: center
}



.login2background{    
    background-repeat:repeat;
    background-attachment: fixed;
    background-size: cover;
}
.loginbox{  
    background: white;
    color: black;    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
    padding: 20px;   
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;

}
.logo{
    width: 130px; 
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loginbox{ 
        margin-top: 5%;
    }    
}

.loginbox_content{
    padding:5% 11% 5% 11%;

}

.singtext{
    font-family: "Open Sans",sans-serif;
    font-size: 27px;  
    color:  #42a5f5;
    float: right;
    padding-right: 25%;
}

.submit-btn{
    float: right;
    background-color: #42a5f5;
    margin-right: 28%;
    color: white;
}

.forgotpassword{
    padding-left: 10%;
}
@media (max-width:800px) {
    .submit-btn{
        
        margin-right: 23%;
    }

   
}


.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
  
    display: block;
    background-image: url('http://666a658c624a3c03a6b2-25cda059d975d2f318c03e90bcf17c40.r92.cf1.rackcdn.com/unsplash_527bf56961712_1.JPG');
    width: 1200px;
    height: 800px;
  
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
  }
  
  