<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<body class="login2background">

    <form class="form-horizontal" #f="ngForm" (submit)="registerForm(f)" novalidate>

        <div class="container">
            <div class="col-lg-6 col-md-6 col-sm-8  loginbox">
                <div class=" row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
                        <img src="\assets\imagens\logo.png" alt="Logo" class="logo">
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6  ">
                        <span class="singtext"> Cadastro </span>
                    </div>

                </div>
                <div class=" row loginbox_content ">

                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="email" placeholder="Digite seu Email:" required ngModel name="email">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="password" placeholder="Digite sua Senha:" required ngModel name="password">

                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                        </span>
                        <input type="password" class="form-control" id="password2" required ngModel placeholder="Repita sua Senha:" required ngModel
                            name="password2">
                    </div>
                    <br>
                    <p class="divtext"> Informações Pessoais </p>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="name" placeholder="Digite seu Nome e Sobrenome:" required ngModel name="name">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-user"></span>
                            </span>
                            <input type="text" class="form-control" id="name" placeholder="Digite seu Endereço Residêncial:" required ngModel name="address">
                        </div>
                        <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="birth" placeholder="Data de Nasc: " required ngModel name="birth">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="rg" placeholder="Digite seu RG:" required ngModel name="rg">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="cpf" placeholder="Digite seu CPF:" required ngModel name="cpf">

                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="telephone" placeholder="Digite seu Telefone:" required ngModel name="telephone">
                    </div>
                    <br>
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                        </span>
                        <input type="text" class="form-control" id="admission" placeholder="Data de Admissão:" required ngModel name="admission">
                    </div>
                    <br>

                    <!-- Select Basic -->
                    <div class="form-group">
                        <label class="col-md-4 control-label divtext" for="idAdmin">Cargo</label>
                        <div class="col-md-5">
                            <select id="typeUser" require ngModel name="typeUser" class="form-control">
                                <option selected="selected" value="1">Gerente</option>
                                <option value="2">Funcionário</option>
                            </select>
                        </div>
                    </div>




                </div>
                <div class="row ">
                    <div class="col-lg-8 col-md-8  col-sm-8 col-xs-7 forgotpassword ">
                        <a [routerLink]="['/']"> Cancelar </a>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4  col-xs-5 ">
                        <button type="submit" class="btn submit-btn">
                            Cadastrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>